body {
    
    background-image: url(img/cover.jpg);
    object-fit: content;
    
}


/*
font-family: 'Rajdhani', sans-serif;
*/

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-img-top {
    height: 40vh;
}

.card-title {
    font-size: 2rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(118, 118, 118, 0.4);
    align-items: center;
    padding-top: 10px;
}

.quiz-answer-card:hover {
    background-color: azure;
    cursor: pointer;

}
.bg-success, .bg-danger{
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.finalheadline {
    font-size: 40px;
    margin: 20px;
}

.button_end {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    height: 50px;
    
}

.btn {
    font-size: 1.5rem !important;
}
